.pushable > .pusher {
  overflow: visible !important; }

.ui.left.overlay.sidebar {
  background-color: #FFFFFF;
  padding: 20px; }
  .ui.left.overlay.sidebar .sommaire_sidebar {
    color: #454545; }
    .ui.left.overlay.sidebar .sommaire_sidebar li {
      margin-bottom: 15px; }

.header {
  height: 100px;
  margin-bottom: 3em; }
  .header div {
    float: left; }
  .header .sommaire {
    width: 5%; }
  .header .titre_slide {
    border-bottom: 1px dotted #ffffff;
    font-size: 36px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 10px;
    padding-top: 25px;
    text-align: center;
    width: 85%; }
  .header .logo {
    width: 5%;
    text-align: right; }

.cd-section h2 {
  clear: both; }
.cd-section .soustitre {
  text-align: center;
  line-height: 30px; }
  .cd-section .soustitre strong {
    font-weight: bold; }
.cd-section .conteneur_interne {
  padding: 2em;
  height: 100vh; }
.cd-section .illustration {
  margin: 0 auto;
  display: block; }
  .cd-section .illustration svg {
    display: block;
    margin: 0 auto; }
.cd-section video {
  display: block;
  margin: 0 auto;
  cursor: pointer; }

.compteur {
  color: #454545;
  font-size: 30px;
  left: 33%;
  letter-spacing: 30px;
  position: relative;
  display: block;
  width: 360px;
  height: 160px;
  text-align: right;
  background-position: 0 0;
  background-repeat: no-repeat;
  line-height: 155px;
  background-image: url(../img/compteur.png);
  font-weight: bold; }

.illustration #piece_big.start {
  -webkit-animation: piece_big 2s;
  animation: piece_big 2s; }
.illustration #piece_small.start {
  -webkit-animation: piece_small 2s;
  animation: piece_small 2s; }
.illustration #rayons.start {
  -webkit-animation: rayons 3s infinite;
  animation: rayons 3s infinite;
  animation-delay: 2s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  z-index: 9999; }
  .footer .to_go_up {
    background-image: url(../img/savoirplus.png);
    background-repeat: no-repeat;
    background-position: 55% 0;
    height: 80px; }
  .footer .contenu_sup {
    background-color: #1487c1;
    height: 25px;
    line-height: 30px;
    padding: 0 30px; }
    .footer .contenu_sup div {
      top: 30px;
      position: relative; }

/* Icons */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url("../plugins/ButtonComponentMorph/fonts/icomoon/icomoon.eot?i64fx9");
  src: url("../plugins/ButtonComponentMorph/fonts/icomoon/icomoon.eot?#iefixi64fx9") format("embedded-opentype"), url("../plugins/ButtonComponentMorph/fonts/icomoon/icomoon.woff?i64fx9") format("woff"), url("../plugins/ButtonComponentMorph/fonts/icomoon/icomoon.ttf?i64fx9") format("truetype"), url("../plugins/ButtonComponentMorph/fonts/icomoon/icomoon.svg?i64fx9#icomoon") format("svg"); }
.icon-close {
  z-index: 100;
  display: block;
  overflow: hidden;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3;
  cursor: pointer; }

.icon:before {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-camera:before {
  content: "\e017"; }

.icon-server:before {
  content: "\e022"; }

.icon-heart:before {
  content: "\e024"; }

.icon-zoom-in:before {
  content: "\e037"; }

.icon-microphone:before {
  content: "\e048"; }

.icon-cloud:before {
  content: "\e066"; }

.icon-user:before {
  content: "\e074"; }

.icon-briefcase:before {
  content: "\e075"; }

.icon-globe:before {
  content: "\e078"; }

.icon-cog::before {
  content: "\e600"; }

.icon-close::before {
  content: "\e601"; }

.icon-play::before {
  content: "\e602"; }

.icon-pause::before {
  content: "\e603"; }

.icon-close {
  position: absolute;
  top: 20px;
  right: 20px; }

.icon-close:hover {
  color: #a50a05; }

/* Styles for dummy content */
/* Style for overlay */
.content-style-overlay {
  padding: 100px 50px;
  text-align: center; }

.content-style-overlay h2 {
  margin: 0 0 1em 0;
  padding: 0;
  font-weight: 300;
  font-size: 3em; }

.content-style-overlay p {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 700px;
  text-align: justify;
  font-weight: 300;
  font-size: 1.5em; }

.content-style-overlay .icon-close {
  border: 2px solid #f9e1c9;
  border-radius: 50%;
  line-height: 2.8; }

.content-style-overlay .icon-close:hover {
  border-color: #a50a05; }

/* Style for text modal */
.content-style-text {
  padding: 60px;
  text-align: left; }

.content-style-text h2 {
  margin: 0 0 0.5em 0;
  font-weight: 300;
  font-size: 1.85em; }

.content-style-text p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 1.15em;
  line-height: 1.4; }

.content-style-text label {
  padding: 10px;
  color: #f9e1c9;
  font-weight: bold; }

.content-style-text .icon-close {
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.2); }

.content-style-text .icon-close:hover {
  color: #f9e1c9; }

/* Style for form modal */
.content-style-form {
  position: relative;
  text-align: left; }

.content-style-form h2 {
  margin: 0;
  padding: 0.4em 0 0.3em;
  text-align: center;
  font-weight: 300;
  font-size: 3.5em; }

.content-style-form form {
  padding: 10px 30px; }

.content-style-form form p {
  margin: 0 0 5px 0;
  font-size: 0.7em; }

.content-style-form label {
  display: block;
  padding: 10px 0 0;
  color: #d5bba4;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold; }

.content-style-form input[type="text"],
.content-style-form input[type="password"] {
  padding: 10px;
  width: 100%;
  border: 2px solid #ebd3bd;
  background: transparent;
  color: #b09a86;
  font-weight: 300;
  font-size: 2.2em; }

.content-style-form input[type="text"]:focus,
.content-style-form input[type="password"]:focus {
  border-color: #e75854;
  color: #e75854; }

.content-style-form input:focus {
  outline: 0; }

.content-style-form button {
  display: block;
  margin-top: 2.5em;
  padding: 1.5em;
  width: 100%;
  border: none;
  background: #e75854;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.25em; }

.content-style-form .icon-close {
  top: 0;
  right: 0;
  color: #ebd3bd;
  font-size: 75%; }

.content-style-form .icon-close:hover {
  color: #e75854; }

.js .content-style-form-1 h2,
.js .content-style-form-1 p,
.js .content-style-form-1 .icon-close {
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.35s, -webkit-transform 0.2s 0.35s;
  transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
  -webkit-transform: scale(0.85);
  transform: scale(0.85); }

.content-style-form-1 p:first-child {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.content-style-form-1 p:nth-child(2) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s; }

.content-style-form-1 p:nth-child(3) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.morph-button.open .content-style-form-1 h2,
.morph-button.open .content-style-form-1 p,
.morph-button.open .content-style-form-1 .icon-close {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.js .content-style-form-2 h2,
.js .content-style-form-2 p,
.js .content-style-form-2 .icon-close {
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
  transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
  -webkit-transform: translateY(50px);
  transform: translateY(50px); }

.content-style-form-2 p:first-child {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s; }

.content-style-form-2 p:nth-child(2) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.content-style-form-2 p:nth-child(3) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s; }

.content-style-form-2 p:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.morph-button.open .content-style-form-2 h2,
.morph-button.open .content-style-form-2 p,
.morph-button.open .content-style-form-2 .icon-close {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.content-style-form-4 form {
  padding: 30px;
  background: #fff;
  color: #ccb096;
  font-size: 1.5em;
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.content-style-form-4 input[type="text"] {
  border: none;
  background-color: #f0f0f0; }

.content-style-form-4 form button {
  background: #ba997b; }

.content-style-form-4 form button:focus,
.content-style-form-4 form button:hover {
  background: #a9896d; }

.js .content-style-form-4 p {
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: rotateX(-45deg);
  transform: rotateX(-45deg);
  -webkit-transform-origin: center top;
  transform-origin: center top; }

.morph-button.open .content-style-form-4 p {
  opacity: 1;
  -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
  transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.morph-button.open .content-style-form-4 p:nth-child(2) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s; }

.content-style-social {
  padding: 30px;
  text-align: left; }

.morph-button-inflow-2 > button svg {
  display: inline-block;
  padding-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: -5%; }

.morph-button-inflow-2 > button svg path {
  fill: #e75854; }

.content-style-social a {
  display: block;
  padding: 0.5em 0;
  color: #67c2d4;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 32px; }

.js .content-style-social a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.content-style-social a:hover {
  color: #e75854; }

.content-style-social a:hover svg path {
  fill: #e75854; }

.content-style-social a svg {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  -webkit-backface-visibility: hidden; }

.morph-button-inflow.open .content-style-social a {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.morph-button-inflow.open .content-style-social a:nth-child(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

.morph-button-inflow.open .content-style-social a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.content-style-video {
  text-align: left; }

.video-mockup {
  width: 640px;
  height: 360px;
  max-width: 100%;
  background: url(../img/rated.png) no-repeat center center;
  background-size: 100%; }

.content-style-video .icon-close,
.content-style-video .icon-pause {
  color: #286f81; }

.content-style-video .icon-close {
  top: 0;
  right: 0; }

.content-style-video .icon-close:hover {
  color: rgba(0, 0, 0, 0.4); }

.controls {
  bottom: 0px;
  left: 0px;
  width: 100%; }

.js .controls {
  position: absolute; }

.controls span {
  display: inline-block; }

.content-style-video .icon-pause {
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5;
  cursor: pointer;
  vertical-align: bottom; }

.content-style-video span.time {
  color: #286f81;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 40px; }

.controls::after {
  content: '';
  position: absolute;
  height: 7px;
  left: 100px;
  right: 70px;
  bottom: 16px;
  background: #aaa; }

.content-style-sidebar h2 {
  font-weight: 300;
  font-size: 2em;
  padding: 0.75em 0 0.75em 1em;
  margin: 0;
  color: #bb4445; }

.content-style-sidebar .icon-close {
  top: 0;
  right: 0;
  font-size: 0.85em; }

.content-style-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.content-style-sidebar ul li a {
  display: block;
  padding: 12px 20px;
  color: #faf1e0;
  font-weight: 400;
  font-size: 1.05em;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1); }

.content-style-sidebar ul li:last-child a {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.1); }

.content-style-sidebar ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: none; }

.content-style-sidebar ul .icon::before {
  display: inline-block;
  width: auto;
  margin-right: 20px;
  font-size: 1.5em;
  vertical-align: -10%;
  color: rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 770px) {
  .content-style-overlay {
    font-size: 75%; }

  .content-style-overlay .icon-close {
    top: 5px;
    right: 5px; } }
/* Morph Button: Default Styles */
.morph-button {
  position: relative;
  display: block;
  margin: 40px auto 0 auto;
  left: 37%; }

.morph-button > button {
  position: relative;
  padding: 0 1em;
  border: none;
  background-color: #e85657;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  overflow: hidden;
  font-size: 16px; }

.morph-button.open > button {
  pointer-events: none; }

.morph-content {
  pointer-events: none; }
  .morph-content h2 {
    line-height: 100% !important;
    font-size: 2.4rem; }
  .morph-content p {
    color: #454545; }

.morph-button.open .morph-content {
  pointer-events: auto; }

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
  width: 300px;
  height: 80px; }

.morph-button-fixed > button {
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.1s 0.5s;
  transition: opacity 0.1s 0.5s; }

.morph-button-fixed.open > button {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s; }

.morph-button-fixed .morph-content {
  position: fixed;
  z-index: 900;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s; }

.morph-button-fixed.open .morph-content {
  opacity: 1; }

.morph-button-fixed .morph-content > div {
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
  transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s; }

.morph-button-fixed.open .morph-content > div {
  visibility: visible;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s; }

.morph-button-fixed.active > button {
  z-index: 2000; }

.morph-button-fixed.active .morph-content {
  z-index: 1900; }

/* Transitions for overlay button and sidebar button */
.morph-button-overlay .morph-content,
.morph-button-sidebar .morph-content {
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; }

.morph-button-overlay.open .morph-content,
.morph-button-sidebar.open .morph-content {
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; }

/* Morph Button Style: Overlay */
.morph-button.morph-button-overlay {
  margin: 50px auto; }

.morph-button-overlay .morph-content {
  overflow: hidden;
  background: #e85657; }

.morph-button-overlay.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%; }

/* Morph Button Style: Modal */
.morph-button-modal::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  pointer-events: none; }

.morph-button-modal.open::before {
  opacity: 1;
  pointer-events: auto; }

.morph-button-modal.active::before {
  z-index: 1800; }

.morph-button-modal .morph-content {
  overflow: hidden;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s; }

.morph-button-modal.open .morph-content {
  top: 50% !important;
  left: 50% !important;
  margin: -210px 0 0 -300px;
  width: 600px;
  height: 420px;
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s; }

/* Colors and sizes for individual modals */
.morph-button.morph-button-modal-1 {
  float: left; }

.morph-button.morph-button-modal-2,
.morph-button.morph-button-modal-3 {
  display: inline-block;
  margin: 10px 15px; }

.morph-button-modal-1 > button {
  background: 0;
  color: #FFFFFF;
  border: 1px dotted #FFFFFF;
  border-radius: 2px;
  cursor: pointer; }

.morph-button-modal-1 .morph-content {
  background: #FFFFFF;
  color: #454545;
  border: 1px dotted #FFFFFF;
  border-radius: 2px;
  cursor: pointer; }

.morph-button-modal-2 > button,
.morph-button-modal-2 .morph-content,
.morph-button-modal-3 > button,
.morph-button-modal-3 .morph-content {
  background-color: #fef0e3;
  color: #e75854; }

.morph-button-modal-4 {
  display: inline-block; }

.morph-button-modal-4 > button,
.morph-button-modal-4 .morph-content {
  background-color: #faf1e0;
  color: #553445; }

.morph-button-modal-4 > button span,
.morph-button-modal-4 .morph-clone {
  padding-left: 10px;
  color: #286f81; }

.morph-button-modal-4 .morph-clone {
  position: absolute;
  right: 34px;
  bottom: 30px;
  z-index: 100;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
  transition: bottom 0.4s 0.1s, right 0.4s 0.1s; }

.morph-button-modal-4.open .morph-clone,
.no-js .morph-button-modal-4 .morph-clone {
  right: 10px;
  bottom: 10px; }

.morph-button-modal-2.open .morph-content {
  margin: -210px 0 0 -170px;
  width: 340px;
  height: 420px; }

.morph-button-modal-3.open .morph-content {
  margin: -255px 0 0 -210px;
  width: 420px;
  height: 510px; }

.morph-button-modal-3.open .morph-content > div {
  height: 420px; }

.morph-button-modal-2.open .morph-content > div,
.morph-button-modal-3.open .morph-content > div {
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s; }

.morph-button-modal-4.open .morph-content {
  margin: -200px 0 0 -320px;
  width: 640px;
  height: 400px; }

/* Morph Button Style: In the content flow */
.morph-button-inflow {
  overflow: hidden;
  max-width: 100%;
  height: 70px; }

.morph-button-inflow > button {
  width: 100%;
  line-height: 70px; }

.morph-button-inflow .morph-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.morph-button-inflow .morph-content .morph-clone {
  padding: 0;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 70px; }

/* Colors and sizes for individual in flow buttons */
.morph-button-inflow-1 {
  width: 600px;
  margin: 2em auto;
  -webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1); }

.morph-button-inflow-1 > button span {
  visibility: hidden; }

.morph-button-inflow-1 .morph-content .morph-clone {
  color: #f9f6e5;
  background: #e85657; }

.morph-button-inflow-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  background-color: #fef0e3;
  -webkit-transition: height 0.3s, width 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, width 0.3s, transform 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.morph-button-inflow-2 > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #e75854;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.morph-button-inflow-2.open > button {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.morph-button-inflow-2 .morph-content {
  width: 260px;
  height: 200px; }

.morph-button-inflow-2.open {
  width: 260px; }

/* Morph Button Style: Sidebar */
.morph-button-sidebar,
.morph-button-sidebar .morph-content {
  width: 60px;
  height: 60px; }

.morph-button-sidebar {
  position: fixed;
  bottom: 50px;
  left: 50px; }

.morph-button-sidebar > button {
  line-height: 60px;
  font-size: 1.6em;
  padding: 0; }

.morph-button-sidebar .morph-content {
  background: #e85657; }

.morph-button-sidebar.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 300px;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden; }

/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content,
.morph-button-modal-4 .morph-clone {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

/* Helper classes */
.noscroll {
  overflow: hidden; }

.morph-button-overlay.scroll .morph-content {
  overflow-y: scroll; }

.morph-button-sidebar.scroll .morph-content {
  overflow: auto; }

/* No JS fallback: let's hide the button and show the content */
.no-js .morph-button > button {
  display: none; }

.no-js .morph-button {
  margin: 10px 0;
  float: none; }

.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
  position: relative;
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: auto;
  left: auto;
  -webkit-transform: none;
  transform: none;
  pointer-events: auto; }

.no-js .morph-button .morph-content .icon-close {
  display: none; }

.no-js .morph-button-sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  background: #e85657;
  overflow: auto; }

.no-transition {
  -webkit-transition: none !important;
  transition: none !important; }

/* Media Queries */
@media screen and (max-width: 600px) {
  .morph-button-modal.open .morph-content {
    top: 0% !important;
    left: 0% !important;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; } }
@media screen and (max-width: 400px) {
  .morph-button-fixed,
  .morph-button-fixed .morph-content {
    width: 200px;
    height: 80px; }

  .morph-button-fixed > button {
    font-size: 75%; }

  .morph-button-sidebar > button {
    font-size: 1.6em; }

  .morph-button-inflow .morph-content .morph-clone {
    font-size: 0.9em; }

  .morph-button-modal-4,
  .morph-button-modal-4 .morph-content {
    width: 220px;
    height: 120px; }

  .morph-button-modal-4 > button {
    font-size: 100%;
    line-height: 50px; }

  .morph-button-modal-4 > button span {
    display: block; }

  .morph-button-modal-4 .morph-clone {
    right: 83px;
    bottom: 26px; }

  .morph-button-sidebar,
  .morph-button-sidebar .morph-content {
    width: 100% !important;
    height: 60px !important; }

  .morph-button-sidebar {
    bottom: 0px;
    left: 0px; }

  .morph-button-sidebar.open .morph-content {
    height: 100% !important; } }
@-webkit-keyframes piece_big {
  0% {
    transform: translate(200px, 200px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes piece_big {
  0% {
    transform: translate(200px, 200px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes piece_small {
  0% {
    transform: translate(-200px, -200px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes piece_small {
  0% {
    transform: translate(-200px, -200px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes rayons {
  0% {
    -webkit-transform: scale(1); }
  30% {
    -webkit-transform: scale(1); }
  40% {
    -webkit-transform: scale(1.08); }
  50% {
    -webkit-transform: scale(1); }
  60% {
    -webkit-transform: scale(1); }
  70% {
    -webkit-transform: scale(1.05); }
  80% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(1); } }
@keyframes rayons {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #38a08c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none; }
  @media only screen and (min-width: 980px) {
    body::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop'; } }

a {
  color: #7AAD38;
  text-decoration: none; }

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 980px) {
  body[data-hijacking="on"] {
    overflow: hidden; } }

.cd-section {
  height: 100vh; }
  .cd-section h2 {
    line-height: 12vh;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold; }
  .cd-section:first-of-type > div {
    background-color: #47c9af; }
    .cd-section:first-of-type > div::before {
      /* alert -> all scrolling effects are not visible on small devices */
      content: 'Effects not visible on mobile!';
      position: absolute;
      width: 100%;
      text-align: center;
      top: 20px;
      z-index: 2;
      font-weight: bold;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: #7ed9c7; }
  .cd-section:nth-of-type(2) > div {
    background-color: #7AAD38; }
  .cd-section:nth-of-type(3) > div {
    background-color: #7AAD38; }
  .cd-section:nth-of-type(4) > div {
    background-color: #fcb052; }
  .cd-section:nth-of-type(5) > div {
    background-color: #f06a59; }
  [data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  [data-animation="parallax"] .cd-section:first-of-type > div, [data-animation="fixed"] .cd-section:first-of-type > div, [data-animation="opacity"] .cd-section:first-of-type > div {
    background-image: url("../img/img-1.jpg"); }
  [data-animation="parallax"] .cd-section:nth-of-type(2) > div, [data-animation="fixed"] .cd-section:nth-of-type(2) > div, [data-animation="opacity"] .cd-section:nth-of-type(2) > div {
    background-image: url("../img/img-2.jpg"); }
  [data-animation="parallax"] .cd-section:nth-of-type(3) > div, [data-animation="fixed"] .cd-section:nth-of-type(3) > div, [data-animation="opacity"] .cd-section:nth-of-type(3) > div {
    background-image: url("../img/img-3.jpg"); }
  [data-animation="parallax"] .cd-section:nth-of-type(4) > div, [data-animation="fixed"] .cd-section:nth-of-type(4) > div, [data-animation="opacity"] .cd-section:nth-of-type(4) > div {
    background-image: url("../img/img-4.jpg"); }
  [data-animation="parallax"] .cd-section:nth-of-type(5) > div, [data-animation="fixed"] .cd-section:nth-of-type(5) > div, [data-animation="opacity"] .cd-section:nth-of-type(5) > div {
    background-image: url("../img/img-5.jpg"); }
  @media only screen and (min-width: 980px) {
    .cd-section h2 {
      font-size: 3.5rem;
      font-weight: bold; }
    [data-hijacking="on"] .cd-section {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
      [data-hijacking="on"] .cd-section > div {
        visibility: visible; }
    [data-hijacking="off"] .cd-section > div {
      opacity: 0; }
    [data-animation="rotate"] .cd-section {
      /* enable a 3D-space for children elements */
      -webkit-perspective: 1800px;
      -moz-perspective: 1800px;
      perspective: 1800px; }
    [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
      -webkit-perspective-origin: center 0;
      -moz-perspective-origin: center 0;
      perspective-origin: center 0; }
    [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
      box-shadow: 0 0 0 rgba(50, 171, 147, 0.4); }
    [data-animation="opacity"] .cd-section.visible > div {
      z-index: 1; } }

@media only screen and (min-width: 980px) {
  .cd-section:first-of-type > div::before {
    display: none; } }
@media only screen and (min-width: 980px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    [data-hijacking="on"] .cd-section > div {
      position: absolute; }
    [data-animation="rotate"] .cd-section > div {
      -webkit-transform-origin: center bottom;
      -moz-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
      -o-transform-origin: center bottom;
      transform-origin: center bottom; } }

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none; }
  .cd-vertical-nav a {
    display: block;
    height: 40px;
    width: 40px;
    /* image replace */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../img/cd-icon-arrow.svg) no-repeat center center; }
    .cd-vertical-nav a.cd-prev {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      margin-bottom: 10px; }
    .cd-vertical-nav a.inactive {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
      -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
      transition: opacity 0.2s 0s, visibility 0s 0.2s; }
  @media only screen and (min-width: 980px) {
    .cd-vertical-nav {
      display: block; } }
