// SIDEBAR
.pushable > .pusher {
	overflow: visible !important;
}

.ui.left.overlay.sidebar {
	background-color: #FFFFFF;
	padding: 20px;

	.sommaire_sidebar {
		color: #454545;

		li {
			margin-bottom: 15px;
		}
	}
}

// HEADER
.header {
	height: 100px;
	margin-bottom: 3em;

	div {
		float: left;
	}
	.sommaire {
		width: 5%;
	}

	.titre_slide{
		border-bottom: 1px dotted #ffffff;
	    font-size: 36px;
	    font-weight: bold;
	    margin-left: 30px;
	    margin-right: 30px;
	    padding-bottom: 10px;
	    padding-top: 25px;
	    text-align: center;
	    width: 85%;
	}

	.logo {
		width: 5%;
		text-align: right;
	}
}

.cd-section{ 
	h2 {
		clear: both;
	}

	.soustitre {
		text-align: center;
		line-height: 30px;

		strong {
			font-weight: bold;
		}
	}

	.conteneur_interne {
		padding: 2em;
		height: 100vh;
	}

	.illustration {
		margin: 0 auto;
		display: block;

		svg {
			display: block;
			margin: 0 auto;
		}
	}

	video {
		display: block;
		margin: 0 auto;
		cursor: pointer;
	}

} 


.compteur {
	color: #454545;
    font-size: 30px;
    left: 33%;
    letter-spacing: 30px;
    position: relative;
    display: block;
    width: 360px;
    height: 160px;
    text-align: right;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 155px;
    background-image: url(../img/compteur.png);
    font-weight: bold;
}

.illustration {
	#piece_big.start {
		-webkit-animation: piece_big 2s;
		animation: piece_big 2s;
	}

	#piece_small.start {
		-webkit-animation: piece_small 2s;
		animation: piece_small 2s;
	}

	#rayons.start {
		-webkit-animation: rayons 3s infinite;
		animation: rayons 3s infinite;
		animation-delay: 2s;
		-webkit-transform-origin:50% 50%;
		transform-origin:50% 50%;
	}
}






















.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	cursor:pointer;
    width: 100%;
    z-index: 9999;

    .to_go_up {
    	background-image: url(../img/savoirplus.png);
	    background-repeat: no-repeat;
	    background-position: 55% 0;
	    height: 80px;
    }

    .contenu_sup {
    	background-color: $bleu_footer;
    	height: 25px;
    	line-height: 30px;
    	padding: 0 30px;

    	div {
    		top: 30px;
    		position: relative;
    	}
    }
}

