@-webkit-keyframes piece_big {
    0% {transform: translate(200px, 200px);}
    100% {transform: translate(0px, 0px);}
}

@keyframes piece_big {
    0% {transform: translate(200px, 200px);}
    100% {transform: translate(0px, 0px);}
}

@-webkit-keyframes piece_small {
	0% {transform: translate(-200px, -200px);}
    100% {transform: translate(0px, 0px);}
}

@keyframes piece_small {
	0% {transform: translate(-200px, -200px);}
    100% {transform: translate(0px, 0px);}
}

// @-webkit-keyframes rayons {
// 	0% {opacity: 0;}
//     100% {opacity: 1;}
// }

// @keyframes rayons {
// 	0% {opacity: 0;}
//     100% {opacity: 1;}
// }

@-webkit-keyframes rayons {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.08); }
	50% { -webkit-transform: scale(1); }
	60% { -webkit-transform: scale(1); }
	70% { -webkit-transform: scale(1.05); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

@keyframes rayons {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}